body {
  background-color: #101018;
  font-family: 'Lexend Zetta', sans-serif;
  color: #bbb6b6;
  text-align: center;
  /* display: flex; */
  /* justify-content: space-around; */
}
#fire {
  background-image: url(https://i.imgur.com/jfqfrOz.gif?);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 40px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(214, 205, 194,0.1),
             0px 18px 23px rgba(214, 205, 194,0.1);
  color: #b49c9c;

  font-size: 50px;
}

 iframe {
    width: 90%;
  /* height: 350px; */
}
input[type="text"] {
   background: transparent;
   color: #bbb6b6;
}
input[type="text"]:focus {
   border-color: orange;
}
input[type="password"] {
   background: transparent;
   color: #bbb6b6;
}
input[type="password"]:focus {
   border-color: orange;
}
input[type="submit"] {
   background: #bbb6b6;
}

.textarea {
   /* width: 90%;
   height: 100px;
   margin: 0 auto;
   resize: none;
   margin-bottom: 10px;
   border-radius: 5px; */
}
.fire-logs {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}
.fire-log {
   margin: 0 auto;
   width: 30%;
   overflow: hidden;
}
img {
   width: 90%;
   /* height: 200px; */
   overflow: hidden;
}
