body {
  background-color: #101018;
  font-family: 'Lexend Zetta', sans-serif;
  color: #bbb6b6;
  text-align: center;
}
#fire {
  background-image: url(https://i.imgur.com/jfqfrOz.gif?);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 40px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(214, 205, 194,0.1),
             0px 18px 23px rgba(214, 205, 194,0.1);
  color: #b49c9c;

  font-size: 50px;
}
iframe {
    width: 90%;
}
input[type="text"] {
   background: transparent;
   color: #bbb6b6;
}
input[type="text"]:focus {
   border-color: #FC7A2B;
}
input[type="password"] {
   background: transparent;
   color: #bbb6b6;
}
input[type="password"]:focus {
   border-color: #FC7A2B;
}
input[type="submit"] {
   background: #bbb6b6;
   -webkit-appearance: none;
}


.textarea {
   width: 90%;
   height: 200px;
   margin: 0 auto;
   resize: none;
   margin-bottom: 10px;
   border-radius: 5px;
}
h3 {
   text-transform: uppercase;
   /* font-size: 2vw; */
}

p {
   font-size: 1.5vw;
   margin: 0;
}

#searchbox {
   color: #FC7A2B;
}

#searchbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #FC7A2B;
}


.fire-name {
  height: 95px;
  font-size: 90%;
}

.fire-image {
  height: 465px;
  overflow: hidden;
  margin-bottom: 10px;
}


.fire-logs {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

}
.fire-log {
   margin: 0 auto;
   margin-bottom: 100px;
   width: 30%;
   overflow: hidden;
   /* height: 600px; */
}
.buttons {
   margin-top: 10px;
}

img {
  width: 90%;
}

a {
   color: #bbb6b6;
}
a:hover {
   color: #FC7A2B;
}
.show-modal {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: rgba(0,0,0,0.75);
   width: 100%;
   height: 100%;
   overflow: auto;
}
.hide-modal {
   display: none;
   position: fixed;
   z-index: 1;
   width: 0;
   height: 0;
   overflow: hidden;
}
.modal {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('https://tribktla.files.wordpress.com/2018/08/gettyimages-1009513954.jpg?quality=85&strip=all&strip=all');
   background-size: cover;
   background-position: cover;
}
.modal-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #101018;
   width: 75%;
   padding-top: 40px;
}
.modal-main {

}
.modal-footer {
}
